/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/raleway-v19-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v19-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-600 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/raleway-v19-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v19-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v15-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --primary: #f16822;
  --font-color: #333333;
  --font-bis: #fff;
  --font-ter: #707070;
}

/* Définition du container */
.container {
  width: 100%;
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Nettoyage des liens */
a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

/* Paramètres body */
body {
  font-family: Montserrat, sans-serif;
  color: var(--font-color);
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--font-bis);
}

section:not(.main-header, .testimony) {
  text-align: center;
}

section:not(.main-header, .hero, .main-footer) {
  padding-top: 14.5rem;
  padding-bottom: 17rem;
}

/* Paramètres hN */

p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0.25em;
}

h1,
h2,
h3 {
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 6.4rem;
  color: var(--primary);
}

h2 {
  font-size: 4.8rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  line-height: 1.2;
}

.section-baseline {
  margin: auto;
  max-width: 105rem;
  font-size: 2.4rem;
  line-height: 1.33;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

/* déco sous les h2 */
.double-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.double-box::before {
  content: "";
  margin-right: 0.25rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--primary);
}

.double-box::after {
  content: "";
  margin-left: 0.25rem;
  height: 1rem;
  width: 1rem;
  background-color: var(--font-color);
}

/* Header */
.main-header {
  color: var(--font-color);
  background-color: var(--font-bis);
  box-shadow: 0px 0.5rem 0.5rem 0px rgba(0,0,0,0.2);
}

nav {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

/* Logo */
.logo {
  display: grid;
  grid-template-columns: 7rem 1fr;
}

.logo .logo-img {
  grid-column: 1 / 2;
}

.logo p {
  margin-left: 1rem;
  font-family: Raleway;
  font-weight: 700;
  font-size: 2rem;
  color: var(--font-ter);
}

.logo p span {
  display: block;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.4rem;
}

/* Navigation */
.main-menu {
  display: flex;
  justify-content: space-between;
}

.menu-link {
  display: block;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: ease-in-out 0.5s;
}

.menu-link:hover,
.menu-link:focus {
  background-color: var(--primary);
  color: var(--font-bis);
}

/* burger */

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 2.5rem;
  height: 0.5rem;
  background-color: var(--font-color);
  margin: 0.5rem;
  transition:all 0.3s ease;
}

/* hero */
.hero {
  background-image: url(../img/slider1.jpg);
  background-position: center;
  background-size: cover;
  min-height: calc(100vh - 12rem);
  display: flex;
  align-items: center;
}

@media (min-resolution: 144dpi) {
  .hero {
    background-image: url(../img/slider1_2x.jpg);
  }
}

.hero .container {
  padding-top: 20rem;
  padding-bottom: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 6.4rem;
  color: var(--primary);
}

.slider-button {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.right-arrow-svg {
  transform: rotate(180deg);
}

.hero-baseline {
  font-size: 3.2rem;
  line-height: 1;
}

/* Services */

.services-list {
  display: flex;
  flex-direction: row;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background-color: #eee;
}

.service-item h3 {
  padding: 20px;
}

/* hero bis double BG ! */

.hero-bis {
  background-image: url(../img/bokehback.jpg);
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 144dpi) {
  .hero-bis {
    background-image: url(../img/bokehback_2x.jpg);
  }
}

.hero-bis h2 {
  color: var(--primary);
}

.hero-bis .section-baseline {
  color: #eee;
}

.hero-bis .double-box::after {
  background-color: var(--font-bis);
}

.screenshot {
  margin: auto;
  width: 100%;
  max-width: 105rem;
  margin-top: 10rem;
  margin-bottom: -17rem;
}

/* Blog */

.blog {
  background-color: #f9f9f9;
}

.blog-archive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 4rem;
  grid-row-gap: 10rem;
  margin-top: 11.5rem;
}

.blog-card {
  background-color: var(--font-bis);
  width: 40rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0.3rem 0.6rem #00000029;
  transition: ease-in-out 0.5s;
}

.blog-card h3 {
  color: var(--primary);
  font-size: 4rem;
  transition: ease-in-out 0.5s;
}

.blog-card p {
  margin-left: 4.5rem;
  margin-right: 4.5rem;
  margin-bottom: 4.5rem;
}

.blog-card img {
  transition: ease-in-out 0.5s;
}

.blog-post-link:hover .blog-card,
.blog-post-link:focus .blog-card {
  background-color: var(--primary);
  color: var(--font-bis);
}

.blog-post-link:hover .blog-card h3,
.blog-post-link:focus .blog-card h3 {
  color: var(--font-bis);
}

.blog-post-link:hover .blog-card img,
.blog-post-link:focus .blog-card img {
  filter: grayscale(80%);
}

/* Fun facts ! */

.fun-facts {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.65),
      rgba(255, 255, 255, 0.65)
    ),
    url(../img/desk_bg.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 144dpi) {
  .fun-facts {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.65),
        rgba(255, 255, 255, 0.65)
      ),
      url(../img/desk_bg_2x.jpg);
  }
}

.fun-facts ul {
  margin-top: 5rem;
}

.fun-facts-list {
  display: flex;
  justify-content: space-evenly;
}

.fun-facts-item .fact-number {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.8rem;
  color: var(--primary);
}

.fun-facts-item .fact-text {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* testimony */

.testimony {
  background-image: url(../img/rect.jpg);
  background-position: center;
  background-size: cover;
  text-align: left;
  color: var(--font-bis);
}
@media (min-resolution: 144dpi) {
  .testimony {
    background-image: url(../img/rect_2x.jpg);
  }
}

.testimony-img {
  width: 22rem;
  height: 22rem;
  margin-right: 5rem;
  float: left;
  border-radius: 50%;
}

.testimony h2 {
  margin: 0;
}

.testimony p {
  font-size: 2.4rem;
  line-height: 1.5;
}

/* footer */

.main-footer {
  background-color: var(--font-color);
  color: #ccc;
  padding-top: 11rem;
}

.main-footer a {
  font-size: 2rem;
  line-height: 4.1rem;
}

.main-footer .container {
  min-height: 60rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h3 {
  color: var(--primary);
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}



.footer-column a{
  display:inline-block;
  color:var(--font-ter);
}

.footer-column a::after {
  content: '';
  display: block;
  width: 0;
  height: 0.2rem;
  background: var(--font-ter);
  transition: width .3s;
}

.footer-column a:hover::after,
.footer-column a:focus::after{
  width: 100%;
  transition: width .3s;
}

/* 
.footer-column a:hover,
.footer-column a:focus {

} */

.footer-menu-item:before {
  content: url("../img/angle-double-right.svg");
  width: 1.1rem;
  height: 0.8rem;
  margin-right: 1rem;
}

/* .tags-list {
  display:block;
} */

.tag-item {
  display: inline;
}

.tag-item a {
  padding-left:0.5rem;
  padding-right:0.5rem;
  margin:0.5rem;
  background-color: #444;
}

.adress-row {
  display: flex;
  padding-bottom: 1rem;
}

.adress-row img {
  margin: 1rem;
  width: 2.4rem;
  height: 2.4rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  border-top: 0.2rem solid #707070;
}

.footer-bottom p {
  font-size: 2.4rem;
  color: #777;
}
.footer-social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-menu-item {
  margin-left: 2rem;
}

.social-menu-item a {
  transition : ease-in-out .3s;
}

.social-menu-item a:hover,
.social-menu-item a:focus {
  filter:  brightness(0) invert(1);
}

/* 1300 px - Blog Special */

@media screen and (max-width: 1300px) {
  .blog-archive {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-footer .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-column {
    margin-bottom: 3rem;
    width: 39rem;
  }
}

@media screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .blog-archive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fun-facts-list {
    flex-wrap: wrap;
  }
  .main-footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin-bottom: 3rem;
    width: 39rem;
  }

  /* Nav Mobile */

  .main-header {    
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index:1000;
  }

  nav {
    height:8rem;
  }

  .main-menu {
    position: absolute;
    width: 100%;
    right: 0px;
    height: calc(100vh - 8rem);
    top: 8rem;
    color:var(--font-bis);
    background-color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .menu-item {
    width:100%;
    margin:0;
    padding:0;
  }

  .menu-link {
    text-align:center;
    width:100%;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
/* 
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
} */

.toggle .line1 {
  transform:rotate(-45deg) translate(-0.5rem,0.6rem);
}
.toggle .line2 {
  opacity:0;
}
.toggle .line3 {
  transform:rotate(45deg) translate(-0.5rem,-0.6rem);
}
